{% extends "base.html" %}

{% block content %}

<!--<div class="form">-->
<!--<form id="upload-file" method="post" enctype="multipart/form-data">-->
<!--<input name="file" type="file" accept="image/*" id="inputImage" class="btn">-->
<!--</form>-->
<!--<a href="#" id="upload-file-btn">Create mosaic</a>-->
<!--</div>-->
<!--<div class="images">-->
<!--<div class="user-image">-->
<!--<img src="" alt="" id="uploadImg">-->
<!--</div>-->
<!--<div class="user-response">-->
<!--<img id="result" src="" width="200px">-->
<!--</div>-->
<!--</div>-->


<div class="image-wrapper">
  <img src="" class="center" id="uploadImg">
</div>

<div class="row">
  <div class="form col offset-s2 s8 offset-l3 l6">
    <form id="upload-file" method="post" enctype="multipart/form-data">
      <p class="center helper"><span class="flow-text">Select image to create mosaic.</span></p>
      <div class="file-field input-field">
        <div class="">
          <div class="btn blue darken-1">
            <span>File</span>
            <input name="file" type="file" accept="image/*" id="inputImage" class="btn">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>

      </div>
    </form>
    <div class="progress blue darken-1">
      <div class="indeterminate blue lighten-4"></div>
    </div>
    <a href="#" class="btn blue darken-1" id="upload-file-btn">Create mosaic</a>
  </div>
</div>

{% endblock content %}
